body{
    margin:0;
    font-family:Segoe UI;
    background:#cfd8e3;
}

header{
    background:linear-gradient(to right,#3b5fc9,#2b55b7);
    color:white;
    text-align:center;
    padding:25px;
    font-size:26px;
    font-weight:bold;
}

.container{
    width:85%;
    margin:40px auto;
}

.controls{
    display:flex;
    gap:10px;
    align-items:center;
    margin-bottom:25px;
}

input,select{
    padding:12px;
    border-radius:10px;
    border:1px solid #ccc;
}

button{
    padding:12px 22px;
    background:#2f64d6;
    border:none;
    color:white;
    border-radius:10px;
    cursor:pointer;
}

#status{
    margin-left:auto;
    font-weight:bold;
    color:#16a34a;
}

.card{
    background:#e5e7eb;
    padding:20px;
    border-radius:15px;
    margin-bottom:30px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#2c448c;
    color:white;
    padding:14px;
}

td{
    padding:14px;
    text-align:center;
    background:white;
    border-bottom:1px solid #ddd;
}

.INFO{color:#16a34a;font-weight:bold;}
.WARNING{color:#f59e0b;font-weight:bold;}
.ERROR{color:#dc2626;font-weight:bold;}

footer{
    text-align:center;
    margin:40px;
    color:#555;
}